.footer {
  margin-top: auto;
  flex-shrink: 0;
  width: 100%;
  height: var(--height-footer);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #020202;
  color: #bfade8;
  box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.31);
  z-index: 100;
}

.logo-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
  max-width: 1000px;
  padding: 0 20px;
}

.logo-footer {
  max-height: calc(var(--height-footer) - 10px);
  width: auto;
  cursor: pointer;
}