.header{
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: var(--heigth-header);
  padding-left: 10%;
  padding-right: 10%;
  background-color: #fff9ef;

  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.244); 
}

.logo-header{
  margin-top: 5px;
  max-height:calc(var(--heigth-header) - 5px);
  width: auto;
}