#root {
  --heigth-footer: 60px;
  --heigth-header: 60px;

  min-height: 100dvh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #f4e8d4;
  min-height: 100dvh;
  width: 100%;
  overflow-x: hidden;

  font-family: "Comfortaa", sans-serif;
  box-sizing: border-box;
  font-optical-sizing: auto;
  font-weight: 800;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  overflow-y: auto;
}

.button {
  cursor: pointer;
}
